<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="top.jessi.screenoperation">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".IndexActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".twinking.TwinkingActivity" />
        <activity android:name=".twinking.MusicActivity" />
        <activity android:name=".twinking.FoodActivity" />
        <activity android:name=".twinking.ScienceActivity" />
        <activity android:name=".twinking.PhotoActivity" />
        <activity android:name=".twinking.StoryActivity" />
        <activity android:name=".twinking.WebActivity" />
        <activity android:name=".twinking.NestedLayoutActivity" />
        <activity android:name=".twinking.CoordinateActivity" />
        <activity android:name=".twinking.NormalViewActivity" />
        <activity android:name=".twinking.TestActivity" />
        <activity android:name=".swipeback.SwipebackActivity" />
    </application>

</manifest>